body {
	margin: 0;
	background-color: #fff;
	font-family: 'Jost', sans-serif;
}

h1 {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
}


h4 {
	font-size: 16px;
	margin: 0;
	font-weight: 700;
}

p {
	margin: 0;
	font-weight: 400;
}

a {
	letter-spacing: normal;
	text-decoration: none;
	color: black;
}

span {
	margin: 0;
}

.main {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	margin-bottom: 32px;
	flex-direction: column;
	gap: 128px;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

/* Navigation */
.nav {
	display: flex;
	align-items: center;
	padding-bottom: 16px;
	justify-content: space-between;
	border-bottom: 2px solid #F9F9F9;
}

.nav-item {
	display: flex;
	gap: 16px;
}

.btn-kons {
	background-color: #F9F9F9;
	border-radius: 26px;
	padding: 16px 28px;
}

.footer {
	display: flex;
	justify-content: space-between;
}

/* Navigation */

.header {
	display: flex;
	border-radius: 26px;
	gap: 32px;
	align-items: center;
}

.title {
	font-size: 50px;
	font-weight: 700;
	line-height: 100px;
	text-align: left;
}

.subtitle {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 10%;
	text-align: left;
	margin-bottom: 16px;
}

.btn-container {
	display: flex;
	gap: 12px;
	justify-content: flex-start;
}

.about {
	display: flex;
	gap: 16px;
	border: 1px solid #1019280F;
	border-radius: 32px;
	padding: 32px;
}

.about-block-1 {}

.about-block-2 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.about-block-2-id1 {
	display: flex;
	gap: 16px;
}


.about-btn {
	background-color: #F9F9F9;
	border-radius: 32px;
	padding: 16px 26px;
	font-weight: 500;
}

.btn-tarif {
	background-color: #34C759;
	padding: 16px 26px;
	border-radius: 26px;
	color: #fff;
	font-size: 16px;
	line-height: 28px;
	height: fit-content;
}

.btn-test {
	border: 1px solid #34C759;
	padding: 16px 26px;
	border-radius: 26px;
	height: fit-content;
	color: #34C759;
	font-size: 16px;
	line-height: 28px;
}

.btn-contact {
	background-color: #34C759;
	border-radius: 26px;
	text-align: center;
	padding: 12px 26px;
	color: #fff;
}


.services {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.services-block {
	position: relative;
	display: flex;
	overflow: scroll;
	gap: 16px;
}

.services-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: #10192808;
	border: 1px solid #1019280F;
	padding: 32px;
	border-radius: 26px;
}

.kak-rabotajet {}

.workit-block {
	display: flex;
	gap: 16px;
}

.kak-rabotajet-card-container {
	display: flex;
	background-color: #F9F9F9;
	border-radius: 26px;
	flex-wrap: wrap;
	padding: 26px;
	gap: 26px;
}

.kak-rabotajet-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #fff;
	border-radius: 26px;
	padding: 26px;
	width: 50%;
}

.kak-rabotajet-card img {
	height: 130px;
}

.price {
	text-align: center;
	font-size: 24px;
	line-height: 48px;
	font-weight: 700;
}

.tarif-block {
	display: flex;
	gap: 16px;
}

.adults {
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid #1019280F;
	border-radius: 26px;
	padding: 32px;
	width: 50%;
}

.children {
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid #1019280F;
	border-radius: 26px;
	padding: 32px;
	width: 50%;
}

/* Reviews */
.reviews {
	display: flex;
	background-color: #F9F9F9;
	border-radius: 26px;
	padding: 26px;
	gap: 16px;
}

.reviews-block1 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 50%;
}

.reviews-block2 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 50%;
}

.reviews-card {
	display: inline-block;
	background-color: #fff;
	border-radius: 26px;
	padding: 26px;
	text-align: left;
}

.avatar-clients {
	width: 48px;
	height: 48px;
}


.avatar-block {
	display: flex;
	gap: 12px;
	align-items: center;
}


/* Reviews */

/* FAQ */
.faq {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

details {
	display: flex;
	border: 1px solid #1019280F;
	border-radius: 26px;
	padding: 26px;
	justify-content: space-between;
}

summary {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;

}

details>summary::after {
	content: "+";
}

details[open]>summary::after {
	content: "-";
}

/* FAQ */


@media screen and (min-width: 320px) and (max-width: 425px) {
	.main {
		padding-left: 16px;
		padding-right: 16px;
	}

	.header {
		display: flex;
		flex-direction: column;
	}

	.header img {
		width: 268px;
	}

	.nav {
		display: none;
	}

	.title {
		font-size: 24px;
		line-height: 48px;
		font-weight: 700;
		text-align: center;
	}

	.subtitle {
		font-size: 12px;
		line-height: 24px;
		text-align: center;
	}

	.btn-container {
		display: flex;
		flex-direction: column;
	}

	.btn-tarif {
		text-align: center;
	}

	.btn-test {
		text-align: center;
	}

	.about {
		display: flex;
		flex-direction: column;
		padding: 16px;
	}

	.about-block-2 {
		width: 100%;
	}

	.about-block-2-id1 {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.services-block {
		display: flex;
		flex-direction: column;
	}

	.services-card {
		padding: 16px;
	}

	.workit-block {
		display: flex;
		flex-direction: column;
	}

	.kak-rabotajet-card {}

	.tarif-block {
		display: flex;
		flex-direction: column;
	}

	.reviews {
		display: flex;
		flex-direction: column;
	}

	.reviews-block1 {
		display: flex;
		flex-direction: column;
	}
}
